body {
  background-color: rgb(192,255,0);
}
a {
  font-size: large;
}
#heading {
  text-decoration:underline;
  text-decoration-style: wavy;
  text-decoration-color: brown;
  color: rgba(255, 0, 0);
  font-size: large;
  font-weight: bolder;
}
label {
  text-decoration: underline;
  text-decoration-style: solid;
  font-size: larger;
  font-weight:1000;
}
input {
  border-color: blue;
}
table{
    width: 100%;
    border: 2px solid blue;
    padding: 8px;
}
td, th{
    border: 4px solid blue;
    padding: 2px;
    text-align: center;
}
mark{
    background-color: white;
}

a:hover{
    background-color: orange;
}

.clr{
    background-color: yellow;
}

.distance td{
    height: 500px;
    text-align: center;
}

.distance2 td{
    text-align: center;
}

.leveling{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bgc{
    display: inline-block;
    width: 120px;
}

.ll{
    width: 236px;
    text-align: center;
}

.brt td{
    /* border: 2px solid blueviolet; */
    border-top: none;
    border-bottom: none;
}

@media (max-width: 480px){
    /* .sym{
        position: absolute;
        top: 450px;
    } */
}
